{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 26.3432,
    "longitude": -80.2116,
    "elevation": 15,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/New_York",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}